* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  background: #fff; /* сторінка біла */
}

.calculator {
  display: grid;
  background: #FCFCFC; /* фон калькулятора */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15); /* тінь */
  grid-template-columns: repeat(4, 60px); /* менше */
  grid-auto-rows: 60px;
  gap: 6px;
}

.calculator .value {
  grid-column: span 4;
  height: 50px; /* менше по висоті */
  text-align: right;
  border: 2px solid #ccc; /* сірий контур постійно */
  border-radius: 6px;
  outline: none;
  padding: 5px 10px;
  font-size: 16px;
  color: #000;
  background: #FCFCFC;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  background: #FCFCFC; /* кнопки білий фон */
  place-items: center;
  border: 2px solid #ccc; /* сірий контур кнопок */
  color: #000;
  cursor: pointer;
  font-weight: bold;
  border-radius: 6px;
}

.calculator span:active {
  background: #F5EDE9; /* помаранчеве при натисканні */
  color: #000;
}

.calculator span.clear {
  grid-column: span 2;
  width: 126px; /* span 2 + gap */
  background: #F5EDE9;
  color: #000;
}

.calculator span.plus {
  grid-row: span 2;
  height: 126px; /* span 2 + gap */
}

.calculator span.equal {
  background: #F5EDE9;
  color: #000;
}

