* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: 'Inter', sans-serif;
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #fff; /* сторінка біла */
}

.calculator {
  position: relative;
  display: grid;
  background: #FCFCFC; /* фон калькулятора */
  padding: 10px;
  border-radius: 10px;
}

.calculator .value {
  grid-column: span 4;
  height: 60px; /* зменшили висоту */
  text-align: right;
  border: none;
  outline: 1px solid rgba(0, 0, 0, 0.1);;
  padding: 10px;
  font-size: 18px;
  color: #000; /* чорний текст */
  background: #FCFCFC;
}

.calculator span {
  display: grid;
  width: 60px;
  height: 60px;
  background: #FCFCFC; /* кнопки теж білий/світлий */
  place-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000; /* чорний текст на кнопках */
  cursor: pointer;
  font-weight: bold;
}

.calculator span:active {
  background: #F5EDE9; /* замінили помаранчеве на твоє */
  color: #000;
}

.calculator span.clear {
  grid-column: span 2;
  width: 120px;
  background: #F5EDE9; /* помаранчеве поле */
  color: #000;
}

.calculator span.plus {
  grid-row: span 2;
  height: 120px;
}

.calculator span.equal {
  background: #F5EDE9; /* помаранчеве */
  color: #000;
}
